.page-header {
  background-color: var(--primary-color);
  padding: 16px 0;

  @media (min-width: 1200px) {
    padding: 24px;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}